@import 'helpers';
@import 'variables';
@import 'lib/elements';

// Layout styles

html {
  height: 100%;
  font-family: @font-family-base;

  body {
    height: 100%;

    // typography

    a {
      color: @font-color;
      text-decoration: none;

      &:hover,
      &:focus {
        color: @link-color;
        text-decoration: none;
      }
    }

    // buttons

    .ui.basic.button {
      color: @font-color !important;
      -webkit-box-shadow: 0px 0px 0px 1px @font-color inset;
      -moz-box-shadow: 0px 0px 0px 1px @font-color inset;
      box-shadow: 0px 0px 0px 1px @font-color inset;

      &:hover,
      &:focus {
        color: @link-color !important;
        -webkit-box-shadow: 0px 0px 0px 1px @link-color inset;
        -moz-box-shadow: 0px 0px 0px 1px @link-color inset;
        box-shadow: 0px 0px 0px 1px @link-color inset;
      }
    }

    // layout

    .layout {
      min-height: 100%;
      overflow-x: hidden;
      background: @background-color;

      .header {

        .ui.menu {
          background: @light;
          border-bottom: 1px solid @dark;
          border-radius: 0;
          color: @toolbar-font-color;

          .brand.item {
            font-family: @font-family-brand;
            color: @link-color;
          }

          .right.menu {

            .item {
              font-size: @toolbar-font-size;
              line-height: @toolbar-line-height;
            }
          }
        }
      }

      .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;

        .ui.menu {
          background: @light;
          border-top: 1px solid @dark;
          border-radius: 0;
          color: @toolbar-font-color;

          .action.item {
            width: 40%;
            font-size: @toolbar-font-size;
            line-height: @toolbar-line-height;
          }

          .right.menu {
            width: 60%;

            .item {
              float: right;

              .ui.icon.input {
                padding-top: 6px;

                input {
                  border-radius: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
